# Comentarios

**Recuerda!!!** los comentarios no se ejecutan y nos ayudan a documentar todo lo que hacemos.

Esto es muy útil cuando escribimos muchas lineas o bien cuando trabajamos en equipo y necesitamos que los demás entiendan lo que hicimos

**Tip**: Trata de no abusar con su uso

In [ ]:
#Creamos nuestra primera linea de codigo en Python!!!
saludo='Bienvenido al curso de Python' #mensaje de bienvenida para los nuevos estudiantes

In [ ]:
#Cuando queremos imprimir el valor de una variable podemos usar la función print()
print(saludo)

---

# Variables

Recuerda que las variables tienen las siguientes características:
* Caracteres permitidos “A” a la “z”, “0” a “9” y “_”
* No pueden empezar con números
* No necesitan ser declaradas por adelantado
* Son **case sensitive**
* Son de tipado dinámico
* No pueden usar nombres de palabras reservadas
* Podemos imprimir el contenido de la variable usando la función print()
* Por convencion las variables con nombres compuestos deben ser escritos en minusculas usando _ como separador

__Recomendación: Cuando crees las variables asegurate que tengan un nombre acorde a lo que deseas guardar__

In [ ]:
ingresosDeclarados=15000

In [ ]:
INGRESOSDECLARADOS=20000

In [ ]:
ingresos_declarados=30000

In [ ]:
print(ingresosDeclarados,INGRESOSDECLARADOS,ingresos_declarados)

#### **Referencia de variables**

In [ ]:
edad=25
print(id(edad))

In [ ]:
edad=30
print(id(edad))

In [ ]:
edad2=30
print(id(edad2))

In [ ]:
edad=35
print(id(edad))

In [ ]:
print(id(edad2))

In [ ]:
print(edad,edad2)

In [ ]:
del edad2

In [ ]:
print(edad,edad2)

In [ ]:
print(edad)

In [ ]:
1edad=35

In [ ]:
#variable edad1 guarda el valor de la edad
edad1=35

In [ ]:
%who

In [ ]:
#verificación de las variables
%whos

In [ ]:
help(print)

1. Crea las siguentes variables `nombre`, `apellido` y `edad` y asignale tus datos personales

In [ ]:
nombre='Juan'
apellido='Bazán'
edad=36

2. Imprime el contenido de las 3 variables

In [ ]:
print(nombre)
print(apellido)
print(edad)

3.Crea las siguentes variables `Nombre`, `Apellido` y `Edad` y asignale  los datos de algún/a amigo/a

In [ ]:
Nombre,Apellido,Edad='Jose','Gini',36

In [ ]:
NOMBRE='JUAN'
APELLIDO='BAZAN'

In [ ]:
print(NOMBRE)
print(APELLIDO)

In [ ]:
print(Nombre)
print(Apellido)
print(Edad)

4. Verifica si las variables nombre y Nombre apuntan a la misma dirección en memoria

In [ ]:
#Tip: Recuerda que puedes usar la función id()
print(id(nombre))
print(id(Nombre))

In [ ]:
valor1=25 #Entero
valor2=25.0 #flotante
valor3='25' #String
valor4='25.0' #String

In [ ]:
print(valor1,valor2,valor3,valor4)

In [ ]:
print(type(valor1),type(valor2),type(valor3),type(valor4))

5. Crea una variable `cita`, que contenga la siguiente frase "Un gran poder conlleva una gran responsabilidad"

6. Declaramos varias variables en una sola linea, para este caso volveremos a asignar valores a nuestras variables nombre, apellido, edad. En este caso puedes cargar los datos con los nombres otro/a amigo/a

7. Imprime el resultado de las 3 variables declaradas previamente

### Inspección de variables

Python nos ofrece la posibilidad de revisar las variables que tenemos declaradas en nuestro Kernel usando los comandos

* `%who`: nos permite revisar los nombres de las variables que tenemos en memoria
* `%whos`: nos permite ver más información a detallde sobre las variables como ser el tipo de dato y el valor que contienen

1. Verifica las variables cargadas en memoria

2. Verifica toda la información disponible sobre las variables cargadas en memoria

---

# Tipos de datos

## Numéricos

Con los tipos de datos numéricos podemos representar números:
* `int`: Enteros
* `float`:Flotantes

1. Crea la variable **entero** y asignale el valor de 10

2. Crea la variable **flotante** y asignale el valor de 20.0

3.Crea la variable **otro_flotante** y asignale el valor de 30.

4. Verifica el tipo de dato de cada variable creada anteriormente

## Strings

Con el tipo de dato String `str`, podemos representar cualquier texto que necesitemos.

Lo más común a la hora de declarar variables strings es usar  `' '` o `" "`

Recuerda que Python tiene caracteres de escape como ser:

|Caracter|Acción|
|---------|----------|
|`\\`| Agrega una \|
|`\'`|Agrega una comilla simple|
|`\"`|Agrega una comilla doble|
|`\n`|Agrega un salto de linea|
|`\t`|Agrega una tabulación horizontal|

En el siguiente [enlace](https://docs.python.org/2.0/ref/strings.html) podras encontrar más información sobre los caracteres de escape

1. Crea la varible **nuevo_saludo** y asignale el valor **Hola Mundo!**

2.Crea la variable **ultima_frase** y asignale la cita **La ultima frase de Iron Man fue:"Yo soy Iron Man"**

3. Crea la variable **salto** y asignale el valor Linea 1 Linea 2 Linea 3 y haz que se impriman en lineas diferentes

4. Usando caracteres de escape imprime la siguiente cita **“Locura es hacer lo mismo una y otra vez esperando obtener resultados diferentes”**

### Métodos

Python nos ofrece algunos metodos que podemos utilizar cuando trabajamos con texto como ser:
* `.lower()`: para convertir el texto a minúsculas
* `.upper()`: para convertir el texto a mayúsculas
* `.title()`: para convertir las primeras letras de cada palabra a mayúsculas
* `.capitalize()`: para convertir la primera letra del texto a mayúscula
* `.swapcase()`: para reemplazar las minúsculas por mayúsculas y viceversa
* `.strip()`: para quitar los espacios en blanco, tanto al inicio como final de string

In [ ]:
prueba='prueba de conversión    '#Con esta variable vamos a probar algunos métodos que podemos realizar con los strings

1. Quital los espacios en blanco que tenemos al final de la oración

2. Convierte todas las letras a mayúsculas

3. Intenta cambiar los espacios en blanco por guiones bajos `_`

In [ ]:
cargo = "Analista de Datos"
salario = 800

print(f'El salario de un {cargo} es de {salario}USD aproximadamente')

### Slicing

Gracias al slicing seremos capaces de poder cortar una cadena de texto según necesitemos

In [ ]:
cadena='Bienvenido al curso de Python   '

1. Imprime el contenido que tiene la variable `cadena`, sacando los espacios en blanco adicionales que tiene

In [ ]:
cadena.strip()[cadena.find('curso'):]

2. Dada la variable `cadena` crea una nueva variable llamada `curso` y asignale el valor 'curso de Python'

In [ ]:
lenguaje = cadena.strip()[cadena.find('Python'):]
print(lenguaje)

3. Dada la variable `cadena` crea una nueva variable llamada `lenguaje` y asignale el valor 'Python'

4. Imprime la varible `lenguaje` pero del reves, el resultado debe ser **nohtyP**

In [ ]:
lenguaje[::-1        ]

### f-strings

Las `f-string` (Formatted string literals) se construyen como una cadena de texto normal en Python, pero precedidas de una f o F. Lo que hace que sea posible interpolar código encerrando este en llaves ({}) dentro de la cadena.

In [ ]:
cargo='Analista de datos'
salario=800

In [ ]:
cargo='Cientifico de datos'
salario=2000

Inclusive podemos usar dar formarto al número

In [ ]:
numero=0.250980
print(f'A la fecha se lleva ejecutado el {numero:.4f} del presupuesto')
print(F'A la fecha se lleva ejecutado el {numero:.2%} del presupuesto')

##  Boleanos

Con los boleanos podemos representar los valores `True` o `False`

* Los valores `True` son representados por 1
* Los valores `False` son representados por 0

1. Crea una variable llamada `mascota` y asignale el valor `True` en caso que tengas una o `False` en caso que no tengas

2. Imprime el valor de la variable `mascota`

---

#  Operadores

## Aritméticos

Estos operadores nos permiten realizar las operaciones arimeticas que conocemos desde el colegio.

|Operación|Acción|
|---------|------|
|Suma `+`| Suma dos valores|
|Resta `-`|Resta dos valores|
|Multiplicación `*`|Multiplica dos valores|
|División `/`|Divide dos valores|
|Divisón entera `//`|Divide dos valores y retorna la porción entera de la división|
|Resto `%`|Divide dos valores y retorna el resto de la división|
|Potencia `**`|Elevana un número a la potencia de otro|

1. Declarada las variables `num_1` y `num_2` y asignale los valores 5 y 2 respectivamente

2. Realiza la suma de las variables `num_1` y `num_2`

3. Realiza la resta de las variables `num_1` y `num_2`

4. Realiza la multiplación de las variables `num_1` y `num_2`

5. Realiza la división de las variables `num_1` y `num_2`

6. Realiza la división entera de las variables `num_1` y `num_2`

7. Calcula el resto de la división las variables `num_1` y `num_2`

8. Calcula la potecia de `num_1` elevado a `num_2`

### Atención!!!

Pero.. que pasa si intentamos realizar alguna operación aritmética con las variables del tipo `str`

1. Crea las siguentes variables `nombre` y `apellido`. Y asignale tus datos personales

2. Suma la variables  `nombre` y `apellido`

'AdrianAnzoategui'

3. Multiplica la variable  `nombre` entre 2

4. Divide la variable `apellido` entre 3

## Asignación

Los operadores de asignación nos ayudan a asignar valores a nuestras variables y podemos escribir menos código si lo utilizamos correctamente

1. Crea la variable `num` y asignale el valor 5

2.  A la variable `num` sumale el valor de 10

 3. A la variable `num` restale el valor de 5

4. A la variable `num` multiplicale el valor de 10

5. Divide la variable `num` entre 10

6. Eleva la variable `num` a 2

7. Calcula el resto de la variable `num` entre 2

## Comparación

Los operadores de comparación nos ayudan a comparar dos variables entre si y nos duelve el valor `True` en caso que se cumpla la comparación

|Operación|
|---------|
|Menor que `<`|
|Menor o igual que  `<=`|
|Mayor que `>`|
|Mayor o igual que `>=`|
|Igual que `==`|
|Distinto que `!=`|

1. Declara las variables `num_1`, `num_2` y `num_3` y asignales los valores 5,14 y 7 respectivamente

In [ ]:
num_1, num_2, num_3 = 5, 14, 7

2. Verifica si `num_1` es menor que `num_2`

In [ ]:
num_1 < num_2

3. Verifica si `num_2` es menor o igual que `num_3`

In [ ]:
num_2 <= num_3

4. Verifica si `num_3` es mayor que `num_1`

In [ ]:
num_3 > num_1

5. Verifica si `num_3` igual `num_1`

In [ ]:
num_3 == num_1

6. Verifica si `num_1` es distinto que `num_2`

In [ ]:
num_1 != num_2

## Lógicos

Los operadores lógicos nos permiten combinar diferentes operadores de comparación

* `and`
* `or`

1. Dadas las variables `num_1`,`num_2` y `num_3` verifica si `num_1` es menor que `num_2` y si `num_2` es mayor que`num_3`

2. Verifica si `num_3` es mayor que `num_1` o si `num_2` es mayor que `num_1`

3. Verifica si `num_3` es mayor que `num_1` y si `num_2` es mayor que `num_1`

## Pertenecia

Los operadores de pertenencia nos ayudan a verificar si un valor se encuentra dentro de un iterable

In [ ]:
texto='Estoy estudiando Python'

1. Verifica si la palabra `Python` se encuentra en la variable `texto`

In [ ]:
'Python' in texto

2. Verifica si la palabra `python` se encuentra en la variable `texto`

In [ ]:
'python' in texto

---